# Yarn dependencies and configurations
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Node modules and build artifacts
node_modules
.next/cache

# Zero-installs configuration (uncomment if you use zero-installs)
#!.yarn/cache
.pnp.*
